.board {
  position: relative;
}

.row {
}

.cell {
  display: inline-block;
  height: 40px;
  width: 40px;
  outline: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
}

.player {
  position: absolute;
  height: 40px;
  width: 40px;
  outline: 3px solid #111;

  /* text-align: center; */
  /* line-height: 40px; */
}

.playerSelectionMarker {
  position: absolute;
  height: 40px;
  width: 40px;
  outline: 2px dashed #ccc;
  /* text-align: left; */
  /* line-height: 40px; */
}
